endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

########################################
sv_maxclients 32
set steam_webApiKey 
set sv_licenseKey
set mysql_connection_string ""

########################################
# FiveM Default Resources Here.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog

########################################
sv_scriptHookAllowed 0
#rcon_password ""
sets tags "default
sets locale "root-AQ" 
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

########################################
sv_hostname "New FXServer"
sets sv_projectName "New FXServer"
sets sv_projectDesc "New FXServer"
load_server_icon server.png
#set temp_convar "hey world!"
#sv_master1 ""

########################################

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit allow # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

sv_endpointprivacy true
set onesync on
